doctype html
html(lang="ko")
  head
    title #{pageTitle} | WeTube
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body 
    main
      header
        h1=pageTitle
        nav 
          ul 
            li
              a(href="/") Home
            li 
              a(href="/join") Join 
            li 
              a(href="/login") Login 
            li 
              a(href="/search") Search
            li
              a(href="/videos/upload") Upload Video
        //h1 has only one value. the variable pageTitle
        //the diffrence with #{} is that we don't mix in with string and value here
      block content
    footer 
      include partials/footer